.mat-toolbar {
  height: fit-content;

  @media only screen and (min-width: 1440px) {
    justify-content: center;
  }

  nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;

    @media only screen and (min-width: 1440px) {
      width: 1024px;
    }

    & > a {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

img {
  height: 64px;
}

a {
  color: #fff;
  text-transform: uppercase;
}

ul li {
  display: inline;

  button {
    text-transform: uppercase;
  }
}

.mat-menu-item {
  color: #333;
}

.toolbar__menu-link {
  &:hover {
    color: #27b57a;

    transition: color 0.2 ease-in-out;
  }
}
