.mat-card {
  display: flex;
  flex-direction: column;
  height: 100%;

  h3 {
    text-align: center;
  }
}

.mat-card-content {
  flex-grow: 1;
}

table.mat-table {
  width: 100%;
  margin: 30px 0;
}

.mat-row {
  height: 60px;
}

.table__actions--btn-remove {
  margin-right: 5px;
  background: red;
}
