<form [formGroup]="personForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <div class="form-row">
      <h2 mat-dialog-title>Cadastrar Pessoas</h2>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input
          formControlName="nome"
          matInput
          name="nome"
          type="text"
          placeholder="John Doe"
          minlength="3"
          maxlength="50"
          required
          pattern="[A-z\s]{3,}"
        />
        <mat-error *ngIf="controls.nome.errors?.required">
          Nome é obrigatório
        </mat-error>
        <mat-error *ngIf="controls.nome.errors?.minlength">
          Nome deve ter no mínimo
          {{ controls.nome.errors.minlength?.requiredLength }} caracteres
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>CPF</mat-label>
        <input
          formControlName="cpf"
          matInput
          name="cpf"
          type="tel"
          placeholder="012.345.678-90"
          minlength="11"
          required
          pattern="[0-9]{3}[0-9]{3}[0-9]{3}[0-9]{2}"
          mask="000.000.000-00"
        />
        <mat-error *ngIf="controls.cpf.errors?.required">
          CPF é obrigatório
        </mat-error>
        <mat-error *ngIf="controls.cpf.errors?.minlength">
          CPF deve conter 11 dígitos (não contabiliza caracteres especiais)
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>Renda</mat-label>
        <input
          formControlName="renda"
          matInput
          name="renda"
          type="tel"
          placeholder="R$ 1000,00"
          maxlength="50"
          required
          pattern="[0-9\.?,?]+"
          prefix="R$ "
          mask="separator.2"
          thousandSeparator="."
        />
        <mat-error *ngIf="controls.renda.errors?.required">
          Renda é obrigatória
        </mat-error>
        <mat-error *ngIf="controls.renda.errors?.minRenda">
          Renda deve ser maior que 0
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Escolha uma data no calendário</mat-label>
        <input
          formControlName="dataCadastro"
          matInput
          name="dataCadastro"
          placeholder="01/01/1990"
          required
          [matDatepicker]="picker"
        />
        <mat-error *ngIf="controls.dataCadastro.errors?.required">
          Data de Cadastro é obrigatória
        </mat-error>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-raised-button color="primary" type="submit">Salvar</button>
  </mat-dialog-actions>
</form>
