<form #form [formGroup]="personForm" (ngSubmit)="onSubmit(form)">
  <mat-dialog-content>
    <div>
      <h1 mat-dialog-title>Cadastrar Pessoas</h1>
    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input
          formControlName="nome"
          matInput
          name="nome"
          type="text"
          maxlength="50"
        />
        <mat-error *ngIf="nome.errors?.required">
          Nome é obrigatório
        </mat-error>
        <mat-error *ngIf="nome.errors?.minlength">
          Nome deve conter no mínimo
          {{ nome.errors.minlength.requiredLength }} caracteres
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>CPF</mat-label>
        <input
          formControlName="cpf"
          matInput
          name="cpf"
          type="tel"
          mask="000.000.000-00"
        />
        <mat-error *ngIf="cpf.errors?.required"> CPF é obrigatório </mat-error>
        <mat-error *ngIf="cpf.errors?.pattern">
          CPF deve ter o formato correto
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>Renda</mat-label>
        <input
          formControlName="renda"
          matInput
          name="renda"
          type="tel"
          maxlength="50"
          prefix="R$ "
          mask="separator.2"
          thousandSeparator="."
        />
        <mat-error *ngIf="renda.errors?.required">
          Renda é obrigatório
        </mat-error>
        <mat-error *ngIf="renda.errors?.min">
          Renda deve ser maior que {{ renda.errors.min.min - 1 }}
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>Data de cadastro</mat-label>
        <input
          formControlName="dataCadastro"
          matInput
          name="dataCadastro"
          [matDatepicker]="picker"
        />
        <mat-error *ngIf="dataCadastro.errors?.required">
          Data de Cadastro é obrigatória
        </mat-error>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button
      mat-raised-button
      color="secondary"
      type="button"
      (click)="onClose()"
    >
      Fechar
    </button>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="personForm.invalid"
    >
      Salvar
    </button>
  </mat-dialog-actions>
</form>
