$sat-solucoes-primary: (
  50: #e1e9ee,
  100: #b4c8d5,
  200: #83a4ba,
  300: #517f9e,
  400: #2b6389,
  500: #064874,
  600: #05416c,
  700: #043861,
  800: #033057,
  900: #022144,
  A100: #79acff,
  A200: #468dff,
  A400: #136eff,
  A700: #005ff8,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff
  )
);
