@import '~@angular/material/theming';
@import 'palette';

@include mat-core();

$sat-solucoes-primary: mat-palette($sat-solucoes-primary);
$sat-solucoes-accent: mat-palette($sat-solucoes-accent, A200, A100, A400);

$sat-solucoes-warn: mat-palette($mat-red);

$sat-solucoes-theme: mat-light-theme(
  (
    color: (
      primary: $sat-solucoes-primary,
      accent: $sat-solucoes-accent,
      warn: $sat-solucoes-warn
    )
  )
);

@include angular-material-theme($sat-solucoes-theme);

* {
  font-family: 'Lato', 'Arial', sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}
